<section data-ng-controller="HomeController">
	<div class="bg"></div>
	<div class="jumbotron">
		<div class="row">
			<div class="col-md-3">
				<img src="/img/king-fish.jpg" class="img-circle">
			</div>
			<div class="col-md-offset-1 col-md-8">
				<div ng-non-bindable id="myCarousel" class="carousel slide" data-ride="carousel">
					<ol class="carousel-indicators">
						<li data-target="#myCarousel" data-slide-to="0" class="active"></li>
						<li data-target="#myCarousel" data-slide-to="1"></li>
					</ol>
					<div class="carousel-inner">
						<div class="item active">
							<div class="container">
								<h2>XinDong Time Bank</h2>
								<p>
									<br>
									Volunteer time bank platform - Use the concept of time bank. Members provide services for other members to earn service hour. Service hours can then be used to get services provided by other members.</p>
								<div class="carousel-caption">
								</div>
							</div>
						</div>
						<div class="item">
							<div class="container">
								<h2>心動時間銀行</h2>
								<p>
													 整合志工服務與時間銀行的觀念, 創建一個交易服務時數 (Service Hour) 以地圖為導向的網路平台. 服務時數的取得方法有兩種: 完成別人要求的服務項目或提供等價物品的捐贈或捐款. 特別是老弱婦孺, 學生或失業者, 利用自己的才能或時間服務他人和社區, 不但可以拓展人際關係豐富精神生活, 並且獲得的服務時數可用來換取其他的服務或商品. 希望這樣的一個平台能夠促進人與人之間的交流而讓生活更有意義.
								</p>
								<div class="carousel-caption">
								</div>
							</div>
						</div>
					</div>
					<a class="left carousel-control" href="#myCarousel" data-slide="prev"><span class="glyphicon glyphicon-chevron-left"></span></a>
					<a class="right carousel-control" href="#myCarousel" data-slide="next"><span class="glyphicon glyphicon-chevron-right"></span></a>
				</div>
			</div>
		</div>
	</div>


	<div class="row">
		<div data-ng-repeat="event in events">
			<div class="col-xs-12 col-sm-6 col-md-4">
				<div class="panel panel-primary">
					<div class="panel-heading">
						<h3 class="panel-title">
							<div class='label label-info'>{{event.type}}</div><br><br>
							<div>{{event.title}}</div>
						</h3>
					</div>
					<div class="panel-body">
						{{event.content}}
					</div>
					<div class="panel-footer"><i class="fa fa-calendar"></i><small> {{event.date | date:'medium'}}<br/><i class="fa fa-map-marker"></i> {{event.address.displayName}}</small>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<!-- Modal -->
<div class="modal fade" id="learnmore" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
				<h4 class="modal-title" id="myModalLabel">心動時間銀行</h4>
			</div>
			<div class="modal-body">
				
<p class="lead">目標用戶是誰？<small>
以全民為目標. 提供一個讓弱勢團體能夠在能力範圍內服務他人進而有尊嚴的享受應得的服務, 鼓勵青年學子們參與志工活動進而了解與關懷社區, 讓退休或失業者善盡自身專業才能進而豐富生活或走出生命低潮.</small></p>

<p class="lead">如何有效的解決他們的問題？<small>
整合志工服務與時間銀行的觀念, 創建一個交易服務時數 (Service Hour) 以地圖為導向的網路平台. 服務時數的取得方法有兩種: 完成別人要求的服務項目或提供等價物品的捐贈或捐款. 特別是老弱婦孺, 學生或失業者, 利用自己的才能或時間服務他人和社區, 不但可以拓展人際關係豐富精神生活, 並且獲得的服務時數可用來換取其他的服務或商品. 希望這樣的一個平台能夠促進人與人之間的交流而讓生活更有意義.

服務時數的提供可來自任何個人, 政府機關, 組織團體, 或公司行號</small></p>

			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
			</div>
		</div>
	</div>
</div>

<script>
var jumboHeight = $('.jumbotron').outerHeight();
function parallax(){
	var scrolled = $(window).scrollTop();
	$('.bg').css('height', (jumboHeight-scrolled) + 'px');
}

$(window).scroll(function(e){
	parallax();
});
</script>