.content {
	margin-top: 50px;
}

a:hover, a.undecorated-link:hover {
	text-decoration: none;
}
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
	display: none !important;
}
html {
	width: 100%;
	height: 100%;
}
body {
	width: 100%;
	height: 100%;
	background-color:#F4F4F4;
	font-family: "Whitney",helvetica,arial,sans-serif;
}
#map-canvas { 
	height: 450px;
}
#small-map-canvas {
	height: 200px;
	margin: 0px;
	padding: 0px
}

.infobox {
	border:2px solid black;
	margin-top: 8px;
	background:#333;
	color:#FFF;
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	padding: .5em 1em;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	text-shadow:0 -1px #000000;
	-webkit-box-shadow: 0 0  8px #000;
	box-shadow: 0 0 8px #000;
}
#map-canvas .panel-body {
	background:#333;
	color:#FFF;
}
.contextmenu{
	visibility: hidden;
	background: #ffffff;
	border: 1px solid #8888FF;
	z-index: 10;
	position: relative;
	width: 100px;
	height: 50px;
	padding: 5px;
}
.bg {
/*	background: url('../img/cloud-small.png') repeat;
*/	
/*	background-color: #efeddf;
*/	position: fixed;
	width: 100%;
	height: 100%; /*same height as jumbotron */
	top:0;
	left:0;
	z-index: -1;
}
.jumbotron {
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 48px;
	height: 350px;
	color: #0x547009;
	text-shadow: #444 0 1px 1px;
	background: transparent;
}
.shadow {
	box-shadow: 10px 10px 20px gray;	
}
h3.date {
	color: #AAAAAA;
	text-shadow: #fff 1px 1px 0;
	text-transform: uppercase;
}
h4 > span.date {
	color: #AAAAAA;
	text-decoration:underline;
}
.overlap {
	position: relative;
}
#mapmenu {
	cursor: move;
	z-index: 10;
}
google-map {
	width: 100%;
	height: 100%;
}
#mapmenu, google-map {
	position: absolute;
	top: 0;
	left: 0;
}
.container {
	width: 100%;
	height: 100%;
}
#footerdiv {
	position:fixed;
	bottom: 0px;
	height: 80px;
	background-color: #af3b29;
	color: white;
	overflow-y: scroll;
	overflow-x: hidden;
	/*
	transition-property: left;
	transition-duration: 2s;
	*/
}
input[type=checkbox] {
	position: absolute;
	top: -9999px;
	left: -9999px;
}
input[type=checkbox]:checked ~ #footerdiv {
	left: -100%;
	animation: hide 2s;
	-webkit-animation: hide 2s
}

#toggle + label {
	position: fixed;
	bottom: 0px;
	height: 80px;
	display: inline-block;
	background: #08C;
	padding: 2px;
	margin: 0;
	border: 1px solid rgba(0,0,0,.1);
	border-radius: 2px;
	color: white;
	font-weight: bold;
	z-index: 999;
}
input[type=checkbox]:not(:checked)  + label:before {
	content: "\f053";
	font-family: FontAwesome;
	position: relative;
	top: 35%;
}
input[type=checkbox]:checked + label:before {
	content: "\f054";
	font-family: FontAwesome;
	position: relative;
	top: 35%;
}

@-webkit-keyframes hide {
	from {left:0px;}
	to {left:-100%;}
}
@keyframes hide
{
	from {left:0px;}
	to {left:-100%;}
}

#announceboard {
}

.scale2 {
	cursor:pointer;
	-webkit-transition: background-color 500ms ease-out;
	-moz-transition: background-color 500ms ease-out;
	-o-transition: background-color 500ms ease-out;
	transition: background-color 500ms ease-out;
}
.scale2:hover {
	background-color:yellow;
}

.contentLarge {
	color: #ff6344;
	font-family: 'Josefin Slab','Josefin Sans',Cabin,'Trebuchet MS',Arial,sans-serif!important;
	font-size: 26px;
	font-weight: 600;
	line-height: 1.2;
	margin-top: 20px;
}

.disable {
	pointer-events: none;
	cursor: default;
}

.table>thead>tr>th, .table>thead>tr>th>a {
	background-color: #3C85C4;
	color:#eeeeee;
	text-decoration: none;
}

.table-hover>tbody>tr:hover>td, .table-hover>tbody>tr:hover>th {
	cursor: pointer;
	background-color: #D1D0D5;
}


.carousel{
	margin-top: 0px;
}
.carousel .item{
/*	background-color: transparent;
*/	text-align: center;
/*	height: 300px !important;
*/}
.carousel h2 {
	margin: 0;
	color: #111;
	padding-top: 50px;
	font-size: 52px;
	font-family: 'Source Sans Pro', sans-serif;
}
/*.carousel-control.left {
	background-image: linear-gradient(to right, rgba(90, 255, 255, .5) 0%, rgba(0, 0, 0, .0001) 100%);
}
.carousel-control.right {
	background-image: linear-gradient(to right, rgba(0, 0, 0, .0001) 0%, rgba(90, 255, 255, .5) 100%);
}*/

.group:after {
  content: "";
  display: table;
  clear: both;
}


.navbar-inverse .navbar-nav > li > a,
.navbar-inverse .navbar-brand {
	color: #FFF;
}