<section class="container" data-ng-controller="EventsController">
	<div class="page-header">
		<h1>New Event</h1>
	</div>
	<div class="col-md-12">
		<form name="eventForm" class="form-horizontal" data-ng-submit="create()" novalidate>
			<fieldset>
				<div class="row">
					<div class="col-md-5">
					<div class="form-group" ng-class="{'has-error': eventForm.title.$invalid && eventForm.title.$dirty}">
						<label class="control-label" for="title">Event Title</label>
						<div class="controls">
							<input type="text" data-ng-model="title" name="title" class="form-control" placeholder="Title" required>
							<span class="help-block" ng-show="eventForm.title.$error.required">Required</span>
						</div>
					</div>
					</div>
					<div class="col-md-5 col-md-offset-1">
					<div class="form-group">
						<label for="dtp_input1" class="control-label">Event Date</label>
						<div class="input-group date form_datetime">
							<input class="form-control" size="16" type="text" data-ng-model="date" readonly required>
							<span class="input-group-addon"><span class="glyphicon glyphicon-remove"></span></span>
							<span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
						</div>
					</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-5">
					<div class="form-group">
						<label class="control-label" for="content">Event Description</label>
						<div class="controls">
							<textarea data-ng-model="content" id="content" class="form-control" cols="30" rows="3" placeholder="Content"></textarea>
						</div>
					</div>
					</div>
					<div class="col-md-5 col-md-offset-1">
					<div class="form-group">
						<label class="control-label" for="type">Event Type</label>
						<div class="controls">
							<select class="form-control" data-ng-model="type" ng-options="option.name as option.name group by option.value for option in options" required>
								<option value="" selected> Please Select </option>
							</select>
						</div>
					</div>
					</div>
				</div>
				
				<div class="row">
					<div class="col-md-5">
					<div class="form-group">
						<label class="control-label" for="type">Event Location</label>
						<div class="controls">
							<select class="form-control" data-ng-model="addressId" ng-options="a._id as a.street for a in addresses" required>
								<option value="" selected> Please Select </option>
							</select>
						</div>
					</div>
					</div>
				</div>

				<div class="form-group">
					<input type="submit" class="btn btn-default" ng-disabled="!eventForm.$valid">
				</div>
				</fieldset>
			</form>
		</div>
</section>


<script type="text/javascript">
	$('.form_datetime').datetimepicker();
</script>