<section class="container" data-ng-controller="EventsController">
	<div class="page-header">
		<h3>New Event</h3>
	</div>
	<div class="col-md-12">
		<form name="eventForm" class="form-horizontal" data-ng-submit="create()" novalidate>
			<fieldset>
				<div class="row">
					<div class="col-md-5">
					<div class="form-group" ng-class="{'has-error': eventForm.title.$invalid && eventForm.title.$dirty}">
						<label class="control-label" for="title">Event Title</label>
						<div class="controls">
							<input type="text" data-ng-model="title" name="title" class="form-control" placeholder="Title" required>
							<span class="help-block" ng-show="eventForm.title.$error.required">Required</span>
						</div>
					</div>
					</div>
					<div class="col-md-5 col-md-offset-1">
					<div class="form-group" ng-class="{'has-error': eventForm.startDate.$invalid && eventForm.startDate.$dirty}">
						<label class="control-label" for]"startDate">Start Date/Time</label>
						<div class="input-group date form_datetime_s">
							<input class="form-control" size="16" type="text" data-ng-model="date" name="startDate" readonly required>
							<span class="input-group-addon"><span class="glyphicon glyphicon-remove"></span></span>
							<span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
						</div>
					</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-5">
					<div class="form-group" ng-class="{'has-error': eventForm.desc.$invalid && eventForm.desc.$dirty}">
						<label class="control-label" for="desc">Event Description</label>
						<div class="controls">
							<textarea class="form-control" data-ng-model="content" name="desc" cols="30" rows="3" placeholder="Description" required></textarea>
						</div>
					</div>
					</div>
					<div class="col-md-5 col-md-offset-1">
					<div class="form-group" ng-class="{'has-error': eventForm.endDate.$invalid && eventForm.endDate.$dirty}">
						<label class="control-label" for="endDate">End Date/Time</label>
						<div class="input-group date form_datetime_e">
							<input class="form-control" size="16" type="text" data-ng-model="endDate" name="endDate" readonly required>
							<span class="input-group-addon"><span class="glyphicon glyphicon-remove"></span></span>
							<span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
						</div>
					</div>
					</div>
				</div>
				
				<div class="row">
					<div class="col-md-5">
						<div class="form-group" ng-class="{'has-error': eventForm.tyep.$invalid && eventForm.type.$dirty}">
							<label class="control-label" for="type">Event Type</label>
							<div class="controls">
								<select class="form-control" data-ng-model="type" name="type" ng-options="option.name as option.name group by option.value for option in options" required>
									<option value="" disabled selected> Please Select </option>
								</select>
							</div>
						</div>
					</div>
					<div class="col-md-5 col-md-offset-1">
						<div class="form-group">
							<label class="control-label" for="type">Event Location</label>
							<div class="controls">
								<select class="form-control" data-ng-model="addressId" ng-options="a._id as a.street for a in addresses" required>
									<option value="" disabled selected> Please Select </option>
								</select>
							</div>
						</div>
					</div>
				</div>

				<div class="row">
					<div class="col-md-5">
						<div class="form-group">
							<label class="control-label" for="servicehour">Service Hour</label>
							<input type="number" data-ng-model="shour" name="servicehour" class="form-control" placeholder="0" min="0" required>
						</div>
					</div>
					<div class="col-md-5 col-md-offset-1">
					</div>
				</div>

				<div class="form-group">
					<input type="submit" class="btn btn-default" ng-disabled="!eventForm.$valid">
				</div>
				</fieldset>
			</form>
		</div>
</section>


<script type="text/javascript">
	$('.form_datetime_s').datetimepicker({
		//format: "dd MM yyyy - HH:ii P",
		//showMeridian: true,
		autoclose: true,
		todayBtn: false,
		pickerPosition: "bottom-left",
		minuteStep: 10,
		startDate: new Date()
	});

	$('.form_datetime_e').datetimepicker({
		//format: "dd MM yyyy - HH:ii P",
		//showMeridian: true,
		autoclose: true,
		todayBtn: false,
		pickerPosition: "bottom-left",
		minuteStep: 10,
		startDate: new Date()
	});
	// $('.form_datetime:first')
	// 	.datetimepicker()
	// 	.on('changeDate', function(ev){

	// 		if (ev.date.valueOf() < date-start-display.valueOf()){
	// 		}
	// });

</script>