<section data-ng-controller="EventsController" data-ng-init="findOne()">
	<div class="page-header">
		<h3>Edit Event</h3>
	</div>

	<div class="panel panel-default">
		<div class="panel-body">
			<form class="form" data-ng-submit="update()">
				<div class="row">
					<div class="col-md-5">
						<div class="form-group">
							<label class="control-label" for="title">Event Title</label>
							<input type="text" data-ng-model="event.title" id="title" class="form-control" placeholder="Title" required>
						</div>
					</div>
					<div class="col-md-5 col-md-offset-1">
						<div class="form-group">
							<label class="control-label">Start Date/Time</label>
							<div class="input-group date form_datetime_s">
								<input class="form-control" type="datetime" data-ng-model="event.date" readonly required>
								<span class="input-group-addon"><span class="glyphicon glyphicon-remove"></span></span>
								<span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-5">
						<div class="form-group">
							<label class="control-label" for="content">Event Description</label>
							<textarea data-ng-model="event.content" id="content" class="form-control" cols="30" rows="3" placeholder="Content"></textarea>
						</div>
					</div>
					<div class="col-md-5 col-md-offset-1">
						<div class="form-group">
							<label class="control-label">End Date/Time</label>
							<div class="input-group date form_datetime_e">
								<input class="form-control" type="datetime" data-ng-model="event.endDate" readonly required>
								<span class="input-group-addon"><span class="glyphicon glyphicon-remove"></span></span>
								<span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-5">
						<div class="form-group">
							<label class="control-label" for="type">Event Type</label>
							<select class="form-control" data-ng-model="event.type" ng-options="option.name as option.name group by option.value for option in options"></select>
						</div>
					</div>
					<div class="col-md-5 col-md-offset-1">
						<div class="form-group">
							<label class="control-label" for="location">Event Location</label>
							<select class="form-control" data-ng-model="event.address._id" ng-options="a._id as a.street for a in addresses" required>
								<option value="" selected> Please Select </option>
							</select>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-5">
						<div class="form-group">
							<label class="control-label" for="servicehour">Service Hour</label>
							<input type="number" data-ng-model="event.shour" name="servicehour" class="form-control" min="0" required>
						</div>
					</div>
					<div class="col-md-5 col-md-offset-1">
					</div>
				</div>
				<div class="form-group">
					<input type="submit" value="Update" class="btn btn-default">
				</div>
			</form>
		</div>
	</div>

</section>

<script type="text/javascript">
	$('.form_datetime_s').datetimepicker({
		format: "yyyy-mm-dd hh:ii",
		autoclose: true,
		todayBtn: false,
		pickerPosition: "bottom-left",
		minuteStep: 10,
		startDate: new Date()
	});

	$('.form_datetime_e').datetimepicker({
		format: "yyyy-mm-dd hh:ii",
		autoclose: true,
		todayBtn: false,
		pickerPosition: "bottom-left",
		minuteStep: 10,
		startDate: new Date()
	});
</script>
