<section class="container" data-ng-controller="EventsController">


	<div class="row">
		<div class="col-md-6 bg-info">
			<div ng-show="messages.length > 0">
				<div class="list-group">
					<div data-ng-repeat="message in messages | orderBy:'created':true">

						<div ng-switch on="$index == 0 || (message.created.substr(0,10) != messages[$index - 1].created.substr(0,10))">
							<h3 ng-switch-when="true">{{message.created | date:'EEEE, MMM d'}}</h3>
						</div>
						<a data-ng-href="#!/messages/{{message._id}}"></a>
						<div class="panel panel-danger">
							<div class="panel-heading">
								<span>From: {{message.user.displayName}}</span>
								<span class="pull-right">
									<a class="btn btn-warning btn-sm" data-ng-click="showReplyInput(message)" title="Reply messages"><i class="fa fa-envelope-o"></i></a>
								</span>
							</div>
							<div class="panel-body">
								{{message.content}}
							</div>
							<div class="panel-footer"><small>{{message.created | date:'medium'}}</small>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-md-6" ng-show="message">
			<input type="text" data-ng-model="reply" class="form-control">
			<button class="btn btn-warning btn-sm {{!reply.trim() ? 'disabled' : ''}}" data-ng-click="replyMessage(message, reply)">Reply</button>
			<button class="btn btn-warning btn-sm" data-ng-click="message = null">Cancel</button>

		</div>
	</div>
	<div class="alert alert-warning text-center" data-ng-hide="!messages || messages.length">
		No message
	</div>
</section>


