<section class="container" data-ng-controller="EventsController" data-ng-init="find()">

	<popup popupid="contactPopup" title="Contact member" success-fn="successFn()"><ng-include src="'modules/messages/views/create.html'"></ng-include></popup>

	<popup popupid="inboxPopup" title="Inbox"><ng-include src="'modules/events/views/inbox.html'"></ng-include></popup>

	<div class="row">
		<div class="col-md-6">
			<div class="list-group">
				<div data-ng-repeat="event in events | orderBy:'created':true">
					<div ng-switch on="$index == 0 || (event.date.substr(0,10) != events[$index - 1].date.substr(0,10))">
						<h3 ng-switch-when="true" class="date">{{event.date | date:'EEEE, MMM d'}}</h3>
					</div>
					<h4 class="list-group-item-heading"><span class="date">{{event.date | date:'hh:mm a'}}</span>
						<span class="pull-right">
							<button type="button" data-ng-hide="queryByUser"  class="btn btn-info" title="bookmark" data-ng-click="bookmark()"><span class="glyphicon glyphicon-paperclip"></span></button>

							<a data-ng-hide="queryByUser" class="btn btn-warning" data-toggle="modal" data-target="#contactPopup" data-ng-click="selectedEvent(event)"><span class="glyphicon glyphicon-phone-alt"></span></a>

							<a class="btn btn-warning" data-toggle="modal" data-target="#inboxPopup" data-ng-click="inboxMessages(event)"><span class="glyphicon glyphicon-envelope"></span></a>
						</span>
					</h4>
					<div class="panel panel-primary">
						<div class="panel-heading">
							<h3 class="panel-title">
								<span class='label label-info'>{{event.type}}</span> {{event.title}}

							</h3>
						</div>
						<div class="panel-body">
							{{event.content}}
						</div>
						<div class="panel-footer"><small>{{event.date | date:'medium'}}<br/>{{event.address.displayName}}<br/>{{event.user.displayName}}</small>
						</div>
					</div>
				</div>
			</div>
			<div class="alert alert-warning text-center" data-ng-hide="!events || events.length">
				No events yet, why don't you <a href="/#!/events/create">create one</a>?
			</div>
		</div>
	</div>

</section>



