<div class="bg"></div>
<div class="jumbotron">
	<h1>Events</h1>
	<p><h2>List events happenging in your neighbor.</h2></p>
</div>

<section class="container" data-ng-controller="EventsController" data-ng-init="find()">
	<div class="row">
		<div class="col-md-6">
			<div class="list-group">
				<div data-ng-repeat="event in events | orderBy:'date':true">
					<div ng-switch on="$index == 0 || (event.date.substr(0,10) === events[$index - 1].date.substr(0,10))">
						<h3 ng-switch-when="true">{{event.date | date:'EEEE, MMM d'}}</h3>
					</div>
					<a data-ng-href="#!/events/{{event._id}}" class="list-group-item">
						<h4 class="list-group-item-heading">{{event.title}}</h4>
					</a>

					<div class="panel panel-primary">
						<div class="panel-heading">
							<h3 class="panel-title"><span class='label label-info'>{{event.type}}</span></h3>
						</div>
						<div class="panel-body">
							{{event.content}}
						</div>
						<div class="panel-footer"><small>{{event.date | date:'medium'}}<br/>{{event.address.displayName}}<br/>{{event.user.displayName}}</small>
						</div>
					</div>
				</div>
			</div>
			<div class="alert alert-warning text-center" data-ng-hide="!events || events.length">
				No events yet, why don't you <a href="/#!/events/create">create one</a>?
			</div>
		</div>
	</div>
</section>