<section class="container" data-ng-controller="EventsController" data-ng-init="find()">

	<popup popupid="contactPopup" title="Contact member" success-fn="successFn()"><ng-include src="'modules/messages/views/create.html'"></ng-include></popup>

	<popup popupid="inboxPopup" title="Inbox"><ng-include src="'modules/events/views/inbox.html'"></ng-include></popup>

	<div class="row">
		<div class="col-md-6">
			<div class="list-group">
				<div data-ng-repeat="event in events">
					<div ng-switch on="$index == 0 || (event.date.substr(0,10) != events[$index - 1].date.substr(0,10))">
						<h3 ng-switch-when="true" class="date">{{event.date | date:'EEEE, MMM d'}}</h3>
					</div>
					<h4><span class="date">{{event.date | date:'hh:mm a'}}</span>
					</h4>
					<div class="panel panel-primary">
						<div class="panel-heading">
							<span style="display:inline-block;width:80%"><label class='label label-info'>{{event.type}}</label> {{event.title}}</span>
							<span class="pull-right">
								<button type="button" data-ng-hide="queryByUser" class="btn btn-info btn-xs" title="Open detail page" data-ng-click="openDetailPage(event)"><i class="fa fa-folder-open-o fa-2x"></i></button>

								<a data-ng-hide="queryByUser" class="btn btn-warning btn-xs" data-toggle="modal" data-target="#contactPopup" data-ng-click="selectedEvent(event)"><span class="glyphicon glyphicon-phone-alt"></span></a>

								<a class="btn btn-warning btn-xs" data-toggle="modal" data-target="#inboxPopup" data-ng-click="inboxMessages(event)"><span class="glyphicon glyphicon-envelope"></span></a>
							</span>
						</div>
						<div class="panel-body">
							{{event.content}}
						</div>
						<div class="panel-footer"><i class="fa fa-map-marker"></i><small> {{event.address.displayName}}<br/>{{event.user.displayName}}</small>
						</div>
					</div>
				</div>
			</div>
			<div class="alert alert-warning text-center" data-ng-hide="!events || events.length">
				No events yet, why don't you <a href="/#!/events/create">create one</a>?
			</div>
		</div>
	</div>

</section>



