<div class="overlap" id="eventsController" ng-controller="EventsController" data-ng-init="findAppliedEvents(); find()">
	<div class="row">
		<div id="mapmenu" class="col-md-3" ng-show="showSettingFlag">
			<div class="panel-group" id="accordion">
				<div class="panel panel-primary">
					<div class="panel-heading">
						<h4 class="panel-title">
							<a data-toggle="collapse" data-parent="#accordion" href="#collapseSettings">
								Search Location
							</a>
						</h4>
					</div>
					<div id="collapseSettings" class="panel-collapse collapse">
						<div class="panel-body">
							<input type="search" class="form-control" ng-model="city" placeholder="city" />
							<div class="input-group">
								<input type="search" class="form-control" ng-model="state" placeholder="state" />
								<span class="input-group-btn">
										<button class="btn btn-info" ng-click="findByCityState(city, state)">Search</button>
								</span>
							</div>
						</div>
					</div>
				</div>
				<div class="panel panel-primary">
					<div class="panel-heading">
						<h4 class="panel-title">
							<a data-toggle="collapse" data-parent="#accordion" href="#collapseOverviewMap">
								Overview Map
							</a>
						</h4>
					</div>
					<div id="collapseOverviewMap" class="panel-collapse collapse">
						<div class="panel-body">
							<input type="text" ng-model="color" placeholder="Enter a color" />
							<hello-world color="color"></hello-world>
							<div id="map-2" style="height:200px; display:none"/>
						</div>
					</div>
				</div>
				<div class="panel panel-primary">
					<div class="panel-heading">
						<h4 class="panel-title">
							<a data-toggle="collapse" data-parent="#accordion" href="#collapseFilter">
								Filter
							</a>
						</h4>
					</div>
					<div id="collapseFilter" class="panel-collapse collapse">
						<div class="panel-body">
							<div class="input-group">
								<input type="search" class="form-control" ng-model="q" placeholder="filter events" />
								<span class="input-group-btn">
									<button class="btn btn-search" ng-click="getFilteredEvents(q)">Refresh Map</button>
								</span>
							</div>
						</div>
					</div>
				</div>
				<div class="panel panel-primary">
					<div class="panel-heading">
						<h4 class="panel-title">
							<a data-toggle="collapse" data-parent="#accordion" href="#collapseEvents">
								Events
							</a>
						</h4>
					</div>
					<div id="collapseEvents" class="panel-collapse collapse in">
						<div class="panel-body" style="padding: 0px">
							<div class="list-group" style="margin: 0px">
								<a data-ng-repeat="event in events | filter:q" data-toggle="collapse" href="#collapse{{$index}}" ng-click="selectEvent(event._id)" class="list-group-item" style="padding: 10px 5px">
									<h5 class="list-group-item-heading">{{event.title}}<span class="caret pull-right"></span></h5>
									<div id="collapse{{$index}}" class="collapse">
										<table class="table table-bordered">
											<tr>
												<td>Type</td>
												<td>{{event.type}}</td>
											</tr>
											<tr>
												<td>Description</td>
												<td>{{event.content}}</td>
											</tr>
											<tr>
												<td>Address</td>
												<td>{{event.address.displayName}}</td>
											</tr>
											<tr>
												<td>Start Time</td>
												<td>{{event.date | date:'MM/dd/yy hh:mm a'}}</td>
											</tr>
											<tr>
												<td>End Time</td>
												<td>{{event.endDate | date:'MM/dd/yy hh:mm a'}}</td>
											</tr>
											<tr>
												<td>Owner</td>
												<td>{{event.user.displayName}}</td>
											</tr>
										</table>
									</div>
								</a>
							</div>
							<div class="alert alert-warning text-center" data-ng-hide="!events || events.length">
								No events yet, why don't you <a href="/#!/events/create">create one</a>?
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<section>
		<google-map></google-map>
	</section>
</div>

<script type="text/javascript">

var dragObj = null;
var x = 0;
var y = 0;

$(function() {
	$('#mapmenu').mousedown(function(e) {
		dragObj = $(this);
		// x, y is the mouse position relative to the left/top of the object.
		x = e.pageX - dragObj.offset().left;
		y = e.pageY - dragObj.offset().top;
	});

	$('#mapmenu').mouseup(function(e) {
		dragObj = null;
	});
	
	$('#mapmenu').mousemove(function(e) {
		if (dragObj == null) {
			return;
		}

		var offset = dragObj.offset();
		// Keep the x,y fixed.
		offset.left = e.pageX - x;
		offset.top = e.pageY - y;
		dragObj.offset(offset);
	});

});

</script>