<section class="container" data-ng-controller="EventsController" data-ng-init="find()">

	<popup popupid="inboxPopup" title="Inbox"><ng-include src="'modules/events/views/inbox.html'"></ng-include></popup>
	<div class="page-header">
  	<h3>Total {{ events.length }} event(s) created<h3>
	</div>
	<div class="row">
		<div class="col-md-6">
			<div class="list-group">
				<div data-ng-repeat="event in events">
					<div ng-switch on="$index == 0 || (event.date.substr(0,10) != events[$index - 1].date.substr(0,10))">
						<h3 ng-switch-when="true" class="date">{{event.date | date:'EEEE, MMM d'}}</h3>
					</div>
					<h4><span class="date">{{event.date | date:'hh:mm a'}}</span>
					</h4>
					<div class="panel panel-primary">
						<div class="panel-heading">
							<span style="display:inline-block;width:80%">
								<div class='label label-info'>{{event.type}}</div><br><br>
								<div>{{event.title}}</div>
							</span>
							<span class="pull-right">

								<ng-switch on="event.status">
									<a ng-switch-when="o" class="btn btn-warning btn-xs" data-ng-click="closeRegistration(event._id)" title="Close Registration"><i class="fa fa-unlock-alt"></i></a>
									<span ng-switch-default class="btn btn-info btn-xs disabled" title="Registration closed"><i class="fa fa-lock"></i></span>
								</ng-switch>

								<a class="btn btn-warning btn-xs" data-ng-click="getUsersApplied(event._id, event.members, event.status)" title="User applied"><i class="fa fa-user"></i></a>

								<a class="btn btn-warning btn-xs" data-toggle="modal" data-target="#inboxPopup" data-ng-click="inboxMessages(event)" title="Messages"><span class="glyphicon glyphicon-envelope"></span></a>

								<a class="btn btn-warning btn-xs" data-ng-click="remove(event)" title="Delete event"><span class="glyphicon glyphicon-remove"></span></a>

							</span>
						</div>
						<div class="panel-body">
							{{event.content}}
						</div>
						<div class="panel-footer"><i class="fa fa-map-marker"></i><small> {{event.address.displayName}}<br/></small>
						</div>
					</div>
				</div>
			</div>
			<div class="alert alert-warning text-center" data-ng-hide="!events || events.length">
				No events yet, why don't you <a href="/#!/events/create">create one</a>?
			</div>
		</div>
		<div class="col-md-6">
			<div class="{{ openFlag ? 'selectUser' : ''}} list-group">
				<div class="list-group-item list-group-item-info" style="text-align:center">
					User applied and selected<a class="btn btn-warning btn-xs pull-right" data-ng-click="updateMember()" data-ng-show="openFlag">
					<i class="fa fa-spinner fa-spin" data-ng-show="saveFlag"></i>
					<i class="fa fa-cloud-upload" style="vertical-align:middle"></i> Save</a>
				</div>
				<a href="javascript:void(0);" class="list-group-item" data-ng-repeat="obj in usersApplied">
					<i class="fa fa-2x {{ obj.selected == true ? 'fa-check-square-o' : 'fa-square-o'}}" style="vertical-align:middle" userid="{{obj.user._id}}"></i>  {{ obj.user.displayName }}
				</a>
			</div>
		</div>
	</div>

</section>

<script type="text/javascript">

$(function() {
	$('.selectUser').on('click','a', function() {
		var c = $(this).children('i');
		if (c.hasClass("fa-check-square-o")) {
			c.removeClass("fa-check-square-o").addClass("fa-square-o");
		} else {
			c.removeClass("fa-square-o").addClass("fa-check-square-o");
		}
	});
});

</script>



