<section class="container" data-ng-controller="EventsController" data-ng-init="find(); showToolbar=false">

	<popup popupid="inboxPopup" title="Inbox" hide-footer="true"><ng-include src="'modules/events/views/inbox.html'"></ng-include></popup>

	<popup popupid="selectMemberPopup" title="Select Member" hide-footer="true"><ng-include src="'modules/events/views/selectMemberPopup.html'"></ng-include></popup>

	<ng-include src="'modules/events/views/eventCountTmpl.html'"></ng-include>

	<div class="row">
		<div class="col-md-6">
			<div class="list-group">
				<div data-ng-repeat="event in events">
					<div ng-switch on="$index == 0 || (event.date.substr(0,10) != events[$index - 1].date.substr(0,10))">
						<h3 ng-switch-when="true" class="date">{{event.date | date:'EEEE, MMM d'}}</h3>
					</div>
					<h4><span class="date">{{event.date | date:'hh:mm a'}} - {{event.endDate | date:'hh:mm a'}}</span>
					</h4>
					<div class="panel  {{ event.status == 'l' ? 'panel-default disabled' : 'panel-primary'}}">
						<div class="panel-heading">
							<div class="alert alert-info" ng-show="event.status == 'l'">This event is cancelled.</div>
							<span style="display:inline-block;width:60%">
								<span class='label label-info'>{{event.type}}</span>&nbsp;&nbsp;
								<span class="badge">{{ event.shour }}</span><small> service Hour</small><br><br>
								<div>{{event.title}}</div>
							</span>
							<span class="pull-right">

								<a class="btn {{ event.status == 'l' ? 'btn-default disabled' : 'btn-warning'}}" href="/#!/events/{{event._id}}/edit" title="Edit event">
									<i class="fa fa-pencil-square-o"></i>
								</a>

								<ng-switch on="event.status">
									<a ng-switch-when="o" class="btn btn-warning" data-ng-click="closeRegistration(event._id)" title="Close Registration"><i class="fa fa-unlock-alt"></i></a>
									<span ng-switch-default class="btn btn-default disabled" title="Registration closed"><i class="fa fa-lock"></i></span>
								</ng-switch>

								<a class="btn {{ event.status == 'l' ? 'btn-default disabled' : 'btn-warning'}}" data-toggle="modal" data-target="#selectMemberPopup" data-ng-click="getUsersApplied(event._id, event.members, event.status)" title="Select member from applied users"><i class="fa fa-user"></i></a>

								<a class="btn {{ event.status == 'l' ? 'btn-default disabled' : 'btn-warning'}}" data-toggle="modal" data-target="#inboxPopup" data-ng-click="inboxMessages(event._id)" title="Show messages"><i class="fa fa-envelope-o"></i></a>

								<a class="btn {{ event.status == 'l' ? 'btn-default disabled' : 'btn-warning'}}" data-ng-click="cancelEvent(event)" title="Cancel this event"><i class="fa fa-trash-o"></i></a>

							</span>
						</div>
						<div class="panel-body">
							{{event.content}}
						</div>
						<div class="panel-footer"><i class="fa fa-map-marker"></i><small> {{event.address.displayName}}<br/></small>
						</div>
					</div>
				</div>
			</div>
			<div class="alert alert-warning text-center" data-ng-hide="!events || events.length">
				No events yet, why don't you <a href="/#!/events/create">create one</a>?
			</div>
		</div>
	</div>

</section>

<script type="text/javascript">

function mouseOver() {
	$('.list-group').on('mouseover', '.panel', function() {
		$('.toolbar').show();
	});
}

angular.element(document).ready(function() {
	//mouseOver();
});

</script>



