<div data-ng-controller="EventsController" data-ng-init="findOne()">
	<div class="page-header">
		<h3>Event Info</h3>
	</div>

	<div class="panel panel-default">
		<div class="panel-heading">
			<em class="text-muted">Posted on {{event.created | date:'mediumDate'}} by {{event.user.displayName}}</em>
		</div>
		<div class="panel-body">
			<form role="form">
				<div class="row">
					<div class="col-md-5">
						<div class="form-group">
							<label class="control-label">Title</label>
							<input class="form-control" type="text" value="{{event.title}}" readonly>
						</div>
					</div>
					<div class="col-md-5 col-md-offset-1">
						<div class="form-group">
							<label class="control-label">Start Date</label>
							<input class="form-control" type="text" value="{{event.date}}" readonly>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-5">
						<div class="form-group">
							<label class="control-label">Description</label>
							<textarea data-ng-model="content" class="form-control" cols="30" rows="3" placeholder="{{event.content}}" readonly></textarea>
						</div>
					</div>
					<div class="col-md-5 col-md-offset-1">
						<div class="form-group">
							<label class="control-label">End Date</label>
							<input class="form-control" type="text" value="{{event.endDate}}" readonly>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-5">
						<div class="form-group">
							<label class="control-label">Type</label>
							<input class="form-control" type="text" value="{{event.type}}" readonly>
						</div>
					</div>
					<div class="col-md-5 col-md-offset-1">
						<div class="form-group">
							<label class="control-label">Location</label>
							<input class="form-control" type="text" value="{{event.address.displayName}}" readonly>
						</div>
					</div>
				</div>
			</form>
		</div>
	</div>

	<div class="pull-right" data-ng-show="authentication.user._id == event.user._id">
		<a class="btn btn-primary" href="/#!/events/{{event._id}}/edit">
			<i class="glyphicon glyphicon-edit"></i>
		</a>
		<a class="btn btn-primary" data-ng-click="remove();">
			<i class="glyphicon glyphicon-trash"></i>
		</a>
	</div>
</div>