<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">

<head>
	<title>{{title}}</title>
	<!-- General META -->
	<meta charset="utf-8">
	<meta http-equiv="Content-type" content="text/html;charset=UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="viewport" content="width=device-width,initial-scale=1">

	<!-- Semantic META -->
	<meta name="keywords" content="{{keywords}}">
	<meta name="description" content="{{description}}">

	<!-- Facebook META -->
	<meta property="fb:app_id" content="{{facebookAppId}}">
	<meta property="og:site_name" content="{{title}}">
	<meta property="og:title" content="{{title}}">
	<meta property="og:description" content="{{description}}">
	<meta property="og:url" content="{{url}}">
	<meta property="og:image" content="/img/brand/logo.png">
	<meta property="og:type" content="website">

	<!-- Twitter META -->
	<meta name="twitter:title" content="{{title}}">
	<meta name="twitter:description" content="{{description}}">
	<meta name="twitter:url" content="{{url}}">
	<meta name="twitter:image" content="/img/brand/logo.png">

	<link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
	<link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,800' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>
	<!-- Fav Icon -->
	<link href="/img/brand/favicon.ico" rel="shortcut icon" type="image/x-icon">

	<!-- Bootstrap CSS -->
	<link rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap.css">
	<link rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap-theme.css">

	<!--bootstrap-datetimepicker-->
	<link href="/lib/smalot-bootstrap-datetimepicker/css/bootstrap-datetimepicker.min.css" rel="stylesheet">

	<!-- Application CSS -->
	<link rel="stylesheet" href="/css/common.css">
	<link rel="stylesheet" href="/css/box.css">

	<!--Application Modules CSS-->
	{% for modulesCSSFile in modulesCSSFiles %}
	<link rel="stylesheet" href="{{modulesCSSFile}}">{% endfor %}

	<!-- HTML5 Shim -->
	<!--[if lt IE 9]>
		<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->

</head>

<body class="ng-cloak">
	<header data-ng-include="'/modules/core/views/header.html'" class="navbar navbar-fixed-top navbar-inverse"></header>

	<section class="content">
		<section class="container">
			{% block content %}{% endblock %}
		</section>
	</section>

	<section class="content ng-hide" id="footer">
		<input type="checkbox" id="toggle">
		<label for="toggle"></label>
		<section class="container" id="footerdiv">
			{% block footer %}{% endblock %}
		</section>
	</section>

	<footer>
		<p class="text-center">
		Copyright &copy; 2014 <a href="http://gwofu.github.io/">Gwowen Fu</a>
		</p>
	</footer>

	<!--Embedding The User Object-->
	<script type="text/javascript">
		var user = {{ user | json | safe }};
	</script>

	<script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
	<!--Google Map API-->
	<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyChK4HcKCFw-Ds89VP1Z1d8-nwupbgRGMY&sensor=false&libraries=visualization"></script>
	<script type="text/javascript" src="/lib/google/infobox.js"></script>
	<script type="text/javascript" src="/lib/google/socket.io.js"></script>
	
	<!--AngularJS-->
	<script src="/lib/angular/angular.js"></script>
	<script src="/lib/angular-resource/angular-resource.js"></script>
	<script src="/lib/angular-cookies/angular-cookies.js"></script>
	<script src="/lib/angular-animate/angular-animate.js"></script>
	<script src="/lib/angular-translate/angular-translate.js"></script>
	<script src="/lib/angular-translate-loader-static-files/angular-translate-loader-static-files.js"></script>
	<script src="/lib/angular-translate-storage-cookie/angular-translate-storage-cookie.js"></script>
	<script src="/lib/angular-translate-storage-local/angular-translate-storage-local.js"></script>

	<script type="text/javascript" src="/lib/bootstrap/dist/js/bootstrap.min.js"></script>

	<script type="text/javascript" src="/lib/angular-socket-io/socket.js"></script>

	<!--Angular UI-->
	<script type="text/javascript" src="/lib/angular-bootstrap/ui-bootstrap.min.js"></script>
	<script type="text/javascript" src="/lib/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>
	<script type="text/javascript" src="/lib/angular-ui-utils/ui-utils.js"></script>
	<script type="text/javascript" src="/lib/angular-ui-router/release/angular-ui-router.js"></script>

	<!--bootstrap-datetimepicker-->
	<script type="text/javascript" src="/lib/smalot-bootstrap-datetimepicker/js/bootstrap-datetimepicker.min.js" charset="UTF-8"></script>

	<script type="text/javascript" src="/lib/holderjs/holder.js"></script>

	<!--AngularJS Application Init-->
	<script type="text/javascript" src="/js/config.js"></script>
	<script type="text/javascript" src="/js/application.js"></script>


	<!--Application Modules-->
	{% for modulesJSFile in modulesJSFiles %}
		<script type="text/javascript" src="{{modulesJSFile}}"></script>
	{% endfor %} 

	{% if process.env.NODE_ENV === 'development' %}
		<!--Livereload script rendered -->
		<!--
		<script type="text/javascript" src="http://localhost:35729/livereload.js"></script>
		-->
	{% endif %}
</body>

</html>