<section class="container" data-ng-controller="MessageController" data-ng-init="find()">

	<div class="row">
		<div class="col-md-6">
			<div class="list-group">
				<div data-ng-repeat="message in messages | orderBy:'created':true">
					<div ng-switch on="$index == 0 || (message.created.substr(0,10) != messages[$index - 1].created.substr(0,10))">
						<h3 ng-switch-when="true">{{message.created | date:'EEEE, MMM d'}}</h3>
					</div>
					<div class="panel panel-danger">
						<div class="panel-heading">
							<h3 class="panel-title">
								<span class='label label-info'>{{message.type}}</span> {{message.title}}
								<span class="pull-right">From: {{message.user.displayName}}<span>
							</h3>
						</div>
						<div class="panel-body">
							{{message.content}}
						</div>
						<div class="panel-footer"><small>{{message.created | date:'medium'}}</small>
						</div>
					</div>
				</div>
			</div>

		</div>
	</div>
</section>





